{% extends '../base.html' %}
{% load widget_tweaks %}
{% block title %}Register - {% endblock title %}

{% block content %}
<div class="container-fluid frm border pt-3">
    <div class="icon_div"><i class="fa fa-user-plus" aria-hidden="true"></i></div>
    <h2>Register</h2>

    {% if messages %}
        <div class="alert alert-success" role="alert">
          {% for message in messages %}
          <strong>Well done! </strong>{{ message }}
          {% endfor %}
        </div>
        <script>
            function redirect(){
               window.location.href = "{% url 'gallery_app:index' %}";
            }

            setTimeout(redirect, 5000); //2000 is equivalent to 2 seconds
        </script>
    {% endif %}

<form method="post" action="" class="mb-3 pb-5">
    {% csrf_token %}

    {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
            {{ error }}
        {% endfor %}
    </div>
    {% endif %}

    {% for field in form.visible_fields %}
    <div class="form-group">
        {{ field.label_tag }}

        {% if form.is_bound %}
            {% if field.errors %}
                {% render_field field class="form-control is-invalid" %}
                {% for error in field.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                {% endfor %}

            {% else %}
                {% render_field field class="form-control is-valid" %}
            {% endif %}

        {% else %}
            {% render_field field class="form-control" %}
        {% endif %}

        {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-outline-primary float-right"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</button>

</form>

</div>
{% endblock content %}