{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block search_form %}
        <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" name="q" type="text" value="{{ request.GET.q }}" placeholder="Search Product" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
{% endblock search_form %}


{% block gallery_banner %}
    <div id="carouselExampleIndicators" class="carousel slide gallery_banner" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="{% static 'banners/1.jpg' %}" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h3>Louvertech Blinds</h3>
                <p>Came straigth from Korea</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'banners/2.jpg' %}" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h3>High-end Quality</h3>
                <p>A brand that you can trust</p>
            </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{% static 'banners/3.jpg' %}" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h3>Customization</h3>
                <p>Start to have your unique blinds</p>
            </div>
        </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
{% endblock gallery_banner %}


{% block content %}

<div class="row">
{% for object in gallery_app %}
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card mt-3 mb-3 h-90">
            <h4 class="card-title text-center">{{ object.name|truncatechars:22 }}</h4>
            <div class="custom_box">
                <!--<img src="{{ object.image_location.url }}" width="600" height="400" class="img-fluid alt="Card image">-->

                {% thumbnail object.image_location "550x300" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-fluid">
                {% empty %}
                    <p>No image</p>
                {% endthumbnail %}

                <div class="description">
                    <p class="text-white card-text">{{ object.description|truncatechars:50 }}
                    <b><a href='{{ object.get_absolute_url }}' class="text-white">Read More &raquo;</a></b></p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>

<div class="pagination justify-content-center">
    <ul class="pagination">
        {% if gallery_app.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1&q={{ request.GET.q }}">&laquo;</a></li>
        <li class="page-item"><a class="page-link" href="?page={{gallery_app.previous_page_number}}&q={{ request.GET.q }}">&#8249;</a></li>
        {% endif %}

        {% for pg in page_range %}
            {% if gallery_app.number == pg %}
                <li class="page-item"><a class="page-link" href="?page={{pg}}&q={{ request.GET.q }}" class="btn btn-default">{{pg}}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{pg}}&q={{ request.GET.q }}" class="btn">{{pg}}</a></li>
            {% endif %}
        {% endfor %}

        {% if gallery_app.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{gallery_app.next_page_number}}&q={{ request.GET.q }}">&#8250;</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ gallery_app.paginator.num_pages }}&q={{ request.GET.q }}">&raquo;</a></li>
        {% endif %}
    </ul>
</div>
<span class="current float-right">
    Page {{ gallery_app.number }} of {{ gallery_app.paginator.num_pages }}.
</span><br>

{% endblock content %}